
.movieRow {
    margin-bottom: 40px;
}

.movieRow h2 {
    margin: 0 0 10px 50px;
}

.movieRow--listarea {
    overflow-x: hidden;
    margin-left: 40px;
}

.movieRow--list {
    transition: all ease 0.5s;
}

.movieRow--item {
    display: inline-block;
    width: 200px;
    cursor: pointer;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    border-radius: 4px;
    transition: all ease 0.2s;
}

.movieRow--item img:hover {
    transform: scale(1);
}

.movieRow--left, .movieRow--right {
    position: absolute;
    width: 40px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease .5s;
}

.movieRow--left {
    left: 0;
}

.movieRow--right {
    right: 0;
}

.movieRow:hover .movieRow--left, .movieRow:hover .movieRow--right {
    opacity: 1;
}

@media (max-width: 760px){
    .movieRow--left, .movieRow--right {
        opacity: 1;
    }
}