@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #FFF;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.lists {
  margin-top: -100px;
}

footer {
  margin: 50px 0;
  text-align: center;
}

footer div {
  margin-bottom: 10px;
}

footer div img {
  margin: 10px;
}

footer a {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}

.loading{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img {
  width: 700px
}